In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
#Using read_csv function from pandas to read the csv file
df = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Admission%20Chance.csv')

In [3]:
df

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [4]:
#Use the head the head function to read the first 5 data
df.head()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [5]:
#Use the tail function to read the last records
df.tail()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [7]:
#Checking for null values using isnull() and sum() function
df.isnull().sum()

Serial No            0
GRE Score            0
TOEFL Score          0
University Rating    0
 SOP                 0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

##Defining Dependent and Independent features

In [9]:
#independent variable
x = df.iloc[:,:-1]

In [10]:
x

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,1,337,118,4,4.5,4.5,9.65,1
1,2,324,107,4,4.0,4.5,8.87,1
2,3,316,104,3,3.0,3.5,8.00,1
3,4,322,110,3,3.5,2.5,8.67,1
4,5,314,103,2,2.0,3.0,8.21,0
...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1
396,397,325,107,3,3.0,3.5,9.11,1
397,398,330,116,4,5.0,4.5,9.45,1
398,399,312,103,3,3.5,4.0,8.78,0
399,400,333,117,4,5.0,4.0,9.66,1

In [11]:
#dependent variable
y=df.iloc[:,-1]

In [12]:
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit , Length: 400, dtype: float64

#splitting data for train and test using train_test_split from sklearn

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train , X_test , y_train , y_test = train_test_split(x,y,test_size=0.25,random_state=42)

In [15]:
X_train

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
247,248,311,104,2,2.5,3.5,8.48,0
110,111,305,108,5,3.0,3.0,8.48,0
16,17,317,107,3,4.0,3.0,8.70,0
66,67,327,114,3,3.0,3.0,9.02,0
153,154,324,105,3,3.0,4.0,8.75,0
...,...,...,...,...,...,...,...,...
71,72,336,112,5,5.0,5.0,9.76,1
106,107,329,111,4,4.5,4.5,9.18,1
270,271,306,105,2,2.5,3.0,8.22,1
348,349,302,99,1,2.0,2.0,7.25,0
102,103,314,106,2,4.0,3.5,8.25,0

In [16]:
X_test

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
209,210,301,104,3,3.5,4.0,8.12,1
280,281,311,102,3,4.5,4.0,8.64,1
33,34,340,114,5,4.0,4.0,9.60,1
210,211,325,108,4,4.5,4.0,9.06,1
93,94,301,97,2,3.0,3.0,7.88,1
...,...,...,...,...,...,...,...,...
314,315,305,105,2,3.0,4.0,8.13,0
373,374,321,109,3,3.0,3.0,8.54,1
380,381,322,104,3,3.5,4.0,8.84,1
239,240,299,100,1,1.5,2.0,7.89,0
75,76,329,114,2,2.0,4.0,8.56,1

In [17]:
y_train

247    0.71
110    0.61
16     0.66
66     0.61
153    0.79
       ...
71     0.96
106    0.87
270    0.72
348    0.57
102    0.62
Name: Chance of Admit , Length: 300, dtype: float64

In [18]:
y_test

209    0.68
280    0.68
33     0.90
210    0.79
93     0.44
       ...
314    0.66
373    0.79
380    0.78
239    0.59
75     0.72
Name: Chance of Admit , Length: 100, dtype: float64

#select the model for prediction

In [20]:
from sklearn.tree import DecisionTreeRegressor , plot_tree

In [21]:
regressor = DecisionTreeRegressor()

In [23]:
#train the model using fit() function
regressor.fit(X_train,y_train)

DecisionTreeRegressor()

In [25]:
regressor.cost_complexity_pruning_path(X_train,y_train)

{'ccp_alphas': array([0.00000000e+00, 8.88178420e-18, 1.66666667e-07, 1.66666667e-07,
        1.66666667e-07, 1.66666667e-07, 1.66666667e-07, 1.66666667e-07,
        1.66666667e-07, 1.66666667e-07, 1.66666667e-07, 1.66666667e-07,
        1.66666667e-07, 1.66666667e-07, 1.66666667e-07, 1.66666667e-07,
        1.66666667e-07, 1.66666667e-07, 1.66666667e-07, 1.66666667e-07,
        1.66666667e-07, 1.66666667e-07, 1.66666667e-07, 1.66666667e-07,
        1.66666667e-07, 1.66666667e-07, 1.66666667e-07, 1.66666667e-07,
        1.66666667e-07, 1.66666667e-07, 1.66666667e-07, 1.66666667e-07,
        1.66666667e-07, 1.66666667e-07, 1.66666667e-07, 2.22222222e-07,
        2.22222222e-07, 2.22222222e-07, 2.22222222e-07, 2.22222222e-07,
        2.22222222e-07, 2.22222222e-07, 2.22222222e-07, 2.22222222e-07,
        2.22222222e-07, 2.22222222e-07, 2.50000000e-07, 2.50000000e-07,
        3.33333333e-07, 4.00000000e-07, 4.44444444e-07, 4.76190476e-07,
        5.00000000e-07, 5.00000000e-07, 5.00000000e-07, 5.00000000e-07,
        5.00000000e-07, 5.00000000e-07, 5.00000000e-07, 5.71428571e-07,
        6.66666667e-07, 6.66666667e-07, 6.66666667e-07, 6.66666667e-07,
        6.66666667e-07, 6.66666667e-07, 6.66666667e-07, 6.66666667e-07,
        6.66666667e-07, 6.66666667e-07, 6.66666667e-07, 7.50000000e-07,
        7.50000000e-07, 7.50000000e-07, 8.33333333e-07, 8.88888889e-07,
        8.88888889e-07, 8.88888889e-07, 8.88888889e-07, 1.00000000e-06,
        1.06666667e-06, 1.21904762e-06, 1.33333333e-06, 1.35000000e-06,
        1.36111111e-06, 1.36111111e-06, 1.36111111e-06, 1.38888889e-06,
        1.38888889e-06, 1.38888889e-06, 1.38888889e-06, 1.38888889e-06,
        1.50000000e-06, 1.50000000e-06, 1.50000000e-06, 1.50000000e-06,
        1.50000000e-06, 1.50000000e-06, 1.50000000e-06, 1.52380952e-06,
        1.66666667e-06, 1.66666667e-06, 1.72023810e-06, 1.75000000e-06,
        1.77777778e-06, 1.77777778e-06, 1.77777778e-06, 1.87777778e-06,
        1.94285714e-06, 2.01666667e-06, 2.08333333e-06, 2.25000000e-06,
        2.36805556e-06, 2.50000000e-06, 2.72222222e-06, 2.77777778e-06,
        2.84444444e-06, 2.88888889e-06, 3.00000000e-06, 3.13912232e-06,
        3.26666667e-06, 3.36111111e-06, 3.36111111e-06, 3.55555556e-06,
        3.55555556e-06, 3.55555556e-06, 3.60000000e-06, 3.61111111e-06,
        3.91203704e-06, 4.16666667e-06, 4.33928571e-06, 4.50000000e-06,
        4.50000000e-06, 4.90000000e-06, 5.12500000e-06, 5.37777778e-06,
        5.55555556e-06, 5.78571429e-06, 6.00000000e-06, 6.00000000e-06,
        6.06818182e-06, 6.55594406e-06, 6.56791702e-06, 6.94444444e-06,
        7.11111111e-06, 7.51111111e-06, 8.00000000e-06, 8.00000000e-06,
        8.12698413e-06, 8.16666667e-06, 8.33333333e-06, 8.53333333e-06,
        8.68055556e-06, 8.70833333e-06, 8.81666667e-06, 9.38888889e-06,
        9.38888889e-06, 9.38888889e-06, 1.00277778e-05, 1.00833333e-05,
        1.05000000e-05, 1.06666667e-05, 1.08750000e-05, 1.22261209e-05,
        1.28444444e-05, 1.30476190e-05, 1.31431078e-05, 1.40166667e-05,
        1.44000000e-05, 1.47000000e-05, 1.50416667e-05, 1.52804233e-05,
        1.62919192e-05, 1.68125000e-05, 1.70666667e-05, 1.81500000e-05,
        1.98412698e-05, 2.00076923e-05, 2.13527668e-05, 2.22392157e-05,
        2.40000000e-05, 2.46765873e-05, 2.49005556e-05, 2.53761905e-05,
        2.56060606e-05, 2.68888889e-05, 2.91358197e-05, 2.97608696e-05,
        3.26666667e-05, 3.32094823e-05, 3.76888889e-05, 4.20992063e-05,
        4.25694853e-05, 4.38779240e-05, 4.55111111e-05, 4.55111111e-05,
        5.37396825e-05, 6.20026144e-05, 6.43809524e-05, 6.71674464e-05,
        6.90250000e-05, 7.09388889e-05, 8.60444444e-05, 8.80111111e-05,
        9.04053085e-05, 9.28366958e-05, 1.12011905e-04, 1.18300000e-04,
        1.20023810e-04, 1.21388300e-04, 1.21904762e-04, 1.26000000e-04,
        1.43104456e-04, 1.76560483e-04, 1.84164103e-04, 1.95796258e-04,
        2.80930116e-04, 3.19348236e-04, 4.58402800e-04, 5.80395960e-04,
        1.64447751e-03, 2.38717189e-03, 9.60503238e-03]),
 'impurities': array([-2.72929827e-17, -1.84111985e-17,  1.66666667e-07,  3.33333333e-07,
         5.00000000e-07,  6.66666667e-07,  8.33333333e-07,  1.00000000e-06,
         1.16666667e-06,  1.33333333e-06,  1.50000000e-06,  1.83333333e-06,
         2.00000000e-06,  2.16666667e-06,  2.33333333e-06,  2.50000000e-06,
         2.66666667e-06,  2.83333333e-06,  3.00000000e-06,  3.16666667e-06,
         3.33333333e-06,  3.50000000e-06,  3.66666667e-06,  3.83333333e-06,
         4.00000000e-06,  4.16666667e-06,  4.33333333e-06,  4.50000000e-06,
         4.66666667e-06,  4.83333333e-06,  5.00000000e-06,  5.16666667e-06,
         5.33333333e-06,  5.50000000e-06,  5.66666667e-06,  5.88888889e-06,
         6.11111111e-06,  6.33333333e-06,  6.55555556e-06,  6.77777778e-06,
         7.00000000e-06,  7.22222222e-06,  7.44444444e-06,  7.66666667e-06,
         7.88888889e-06,  8.11111111e-06,  8.36111111e-06,  8.61111111e-06,
         8.94444444e-06,  9.34444444e-06,  9.78888889e-06,  1.02650794e-05,
         1.07650794e-05,  1.12650794e-05,  1.17650794e-05,  1.22650794e-05,
         1.27650794e-05,  1.32650794e-05,  1.37650794e-05,  1.43365079e-05,
         1.50031746e-05,  1.56698413e-05,  1.63365079e-05,  1.70031746e-05,
         1.76698413e-05,  1.83365079e-05,  1.90031746e-05,  1.96698413e-05,
         2.03365079e-05,  2.10031746e-05,  2.16698413e-05,  2.24198413e-05,
         2.31698413e-05,  2.39198413e-05,  2.47531746e-05,  2.56420635e-05,
         2.65309524e-05,  2.74198413e-05,  2.83087302e-05,  2.93087302e-05,
         3.03753968e-05,  3.15944444e-05,  3.29277778e-05,  3.42777778e-05,
         3.56388889e-05,  3.70000000e-05,  3.83611111e-05,  3.97500000e-05,
         4.11388889e-05,  4.25277778e-05,  4.39166667e-05,  4.53055556e-05,
         4.68055556e-05,  4.83055556e-05,  4.98055556e-05,  5.13055556e-05,
         5.28055556e-05,  5.43055556e-05,  5.58055556e-05,  5.73293651e-05,
         5.89960317e-05,  6.06626984e-05,  6.23829365e-05,  6.41329365e-05,
         6.59107143e-05,  6.76884921e-05,  6.94662698e-05,  7.13440476e-05,
         7.52297619e-05,  7.72464286e-05,  7.93297619e-05,  8.15797619e-05,
         8.63158730e-05,  8.88158730e-05,  9.15380952e-05,  9.43158730e-05,
         9.71603175e-05,  1.02938095e-04,  1.05938095e-04,  1.09077218e-04,
         1.12343884e-04,  1.15704995e-04,  1.19066106e-04,  1.22621662e-04,
         1.26177218e-04,  1.29732773e-04,  1.33332773e-04,  1.40554995e-04,
         1.44467032e-04,  1.48633699e-04,  1.52972985e-04,  1.57472985e-04,
         1.61972985e-04,  1.66872985e-04,  1.77122985e-04,  1.82500763e-04,
         1.88056318e-04,  1.93842032e-04,  1.99842032e-04,  2.05842032e-04,
         2.17978396e-04,  2.24534340e-04,  2.31102257e-04,  2.38046702e-04,
         2.45157813e-04,  2.52668924e-04,  2.60668924e-04,  2.68668924e-04,
         2.76795908e-04,  2.84962575e-04,  2.93295908e-04,  3.10362575e-04,
         3.19043130e-04,  3.36459797e-04,  3.45276463e-04,  3.54665352e-04,
         3.64054241e-04,  3.73443130e-04,  3.83470908e-04,  3.93554241e-04,
         4.04054241e-04,  4.14720908e-04,  4.36470908e-04,  4.48697029e-04,
         4.61541473e-04,  5.00684330e-04,  5.13827438e-04,  5.27844105e-04,
         5.42244105e-04,  5.56944105e-04,  5.71985771e-04,  5.87266195e-04,
         6.03558114e-04,  6.37183114e-04,  6.54249781e-04,  6.72399781e-04,
         6.92241050e-04,  7.12248743e-04,  7.33601510e-04,  7.78079941e-04,
         8.02079941e-04,  8.51433115e-04,  9.75935893e-04,  1.00131208e-03,
         1.02691814e-03,  1.05380703e-03,  1.08294285e-03,  1.11270372e-03,
         1.14537039e-03,  1.17857987e-03,  1.25395765e-03,  1.29605686e-03,
         1.33862634e-03,  1.38250426e-03,  1.42801538e-03,  1.47352649e-03,
         1.52726617e-03,  1.58926878e-03,  1.65364974e-03,  1.72081718e-03,
         1.85886718e-03,  1.92980607e-03,  2.01585052e-03,  2.10386163e-03,
         2.19426694e-03,  2.47277702e-03,  2.58478893e-03,  2.70308893e-03,
         2.82311274e-03,  2.94450104e-03,  3.06640580e-03,  3.19240580e-03,
         3.33551026e-03,  3.51207074e-03,  3.69623484e-03,  3.89203110e-03,
         4.17296122e-03,  4.49230945e-03,  4.95071225e-03,  5.53110821e-03,
         7.17558572e-03,  9.56275762e-03,  1.91677900e-02])}

In [28]:
regressor.score(X_train,y_train)

1.0

#Cross validating the model on train sample

In [29]:
from sklearn.model_selection import cross_validate

In [30]:
cross_validate(regressor,X_train,y_train)

{'fit_time': array([0.00498533, 0.0039885 , 0.0030148 , 0.00299335, 0.00301671]),
 'score_time': array([0.00250888, 0.00199437, 0.00097418, 0.00199366, 0.00099039]),
 'test_score': array([0.19042527, 0.58901165, 0.5481986 , 0.73233279, 0.60086662])}

#Model hyper-parameters

In [32]:
regressor.get_params()

{'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': None,
 'splitter': 'best'}

In [45]:
#hyperparameter selection
params = {'model__max_depth' : [2,3,4,5,6,7,8, 9, 10],
        'model__criterion' : ['squared_error', 'absolute_error'],
        'model__random_state' : [42]}

In [46]:
from sklearn.pipeline import Pipeline

In [47]:
pipe = Pipeline([('model',regressor)])

In [48]:
from sklearn.model_selection import GridSearchCV

In [49]:
grid = GridSearchCV(pipe,params,cv=5)

In [50]:
grid

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('model', DecisionTreeRegressor())]),
             param_grid={'model__criterion': ['squared_error',
                                              'absolute_error'],
                         'model__max_depth': [2, 3, 4, 5, 6, 7, 8, 9, 10],
                         'model__random_state': [42]})

In [51]:
grid.fit(X_train,y_train)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('model', DecisionTreeRegressor())]),
             param_grid={'model__criterion': ['squared_error',
                                              'absolute_error'],
                         'model__max_depth': [2, 3, 4, 5, 6, 7, 8, 9, 10],
                         'model__random_state': [42]})

In [56]:
grid.best_params_

{'model__criterion': 'squared_error',
 'model__max_depth': 3,
 'model__random_state': 42}

In [57]:
best = grid.best_estimator_

In [58]:
best.fit(X_train,y_train)

Pipeline(steps=[('model', DecisionTreeRegressor(max_depth=3, random_state=42))])

In [59]:
y_pred=best.predict(X_test)

In [61]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, r2_score

In [67]:
# mean absolute error
mean_absolute_error(y_test,y_pred)

0.05102742649333039

In [68]:
mean_absolute_percentage_error(y_test,y_pred)

0.0848962646220535